@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/functions.scss';

.input-group .simulate button{
	@include border-radius(0);
	&:last-child{
		border-top-right-radius: 0.25rem;
		border-bottom-right-radius: 0.25rem;
	}
}

.choice{
	margin-bottom: 0.5rem;
}