<div class="modal-header">
	<h4 class="modal-title pull-left">Edit Leading Question Form</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="leading-question-container">
		<div class="edit-leading-question-form">
			<form
			[formGroup]="leadingQuestionForm"
			(ngSubmit)="saveEdits()">
				<div class="form-group">
			    <label for="selectedSQ">Leading question</label>
			    <textarea
			    formControlName="leadingQuestion"
			    #lqinput
			    class="form-control"
			    id="selectedSQ"
			    rows="3"></textarea>
				</div>
				<button type="submit" [disabled]="!leadingQuestionForm.valid">Save</button>
			</form>
		</div>
	</div>
</div>
