@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/functions.scss';

.keywordsarea p span{
	position: relative;
	cursor: pointer;
	background-color: $color-primary;
	padding: 0.5rem;
	display: inline-block;
	margin: 0 0.75rem 0.5rem 0;
	color: #fff;
	@include border-radius(0.5rem);
	&:after{
		content:"x";
		background-color: #de2b2b;
		position: absolute;
		right: 0;
		top: 0;
		text-align: center;
		line-height: 1;
		width: 20px;
		height: 20px;
		opacity: 0;
		@include border-radius(100%);
		@include transform(translate(50%,-50%));
		@include transition(opacity 200ms ease);
	}
	&:hover{
		&:after{
			opacity: 1;
		}
	}
}
.edit-question{
	color: $color-primary;
}
app-message:hover{
	cursor: pointer;
}
.chat-training-data .btn{
	display: block;
	margin-bottom: 1rem;
}
.leading-questions-list,
.related-subjects-list,
.related-questions-list{
	li{
		position: relative;
		font-size: 14px;
		color: $color-primary;
		opacity: 1;
		border-bottom: 1px solid #dedede;
		cursor: pointer;
		p{
			width: 82%;
			margin-bottom: 0;
			&:hover{
				opacity: 0.7;
				cursor: pointer;
			}
		}
		&:last-child{
			border-bottom: 0;
		}
	}
}
.leading-questions-list,
.related-questions-list{
	li{
		min-height: 42px;
	}
}
.leading-question-list-container{
	position: relative;
	.paste{
		position: absolute;
		top: 0;
		right: 0;
	}
}
.chat-box{
	display: block;
	padding: 0;
	p{
		margin-bottom: 0;
	}
}
.lifted-container{
	background-color: #fff;
	padding: 5px 8px;
	margin-bottom: 1rem;
	@include box-shadow($depth-1);
}
// .leading-question-questionaire{
// 	background-color: rgba(0,0,0,0.7);
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100vh;
// 	z-index:100;
// 	// @include box-shadow($depth-1);
// }