<h1>Chatbot</h1>
<div class="admin">
	<p>Simulation</p>
	<div class="row line-separator">
		<div class="col-md-6">
			<div class="form-group">
				<label><strong>Conversation</strong></label>
				<div class="chat-area" #scrollToBottom [scrollTop]="scrollToBottom.scrollHeight">
					<app-message 
					*ngFor="let m of messages" 
					[message]="m"
					(click)="getUserQuestion(m)"></app-message>
				</div>
			</div>
			<div class="leading-questions">
				<p><strong>Leading Questions</strong></p>
				<ul class="leding-questions-list">
					<li></li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<div class="chat-training-data">
				
					<div class="row">
						<div class="col-md-12">
							<form #questionForm="ngForm" (ngSubmit)="saveQuestion(userQuestion,questionSubject,questionKeywords)">
								<div class="form-group">
								  <label for="topic"><strong>User question</strong></label>
								  <input class="form-control" [(ngModel)]="userQuestion" type="text" name="userQuestion" id="userQuestions">
								</div>
								<div class="form-group">
								  <label for="subject"><strong>Subject</strong></label>
								  <input class="form-control" [(ngModel)]="questionSubject" type="text" name="subject" id="subject" required>
								</div>
								<div class="keywordsarea">
									<p><strong class="mr0_5rem">Keywords:</strong> <span
										(click)="removeKeyword(i)"
										*ngFor="let kw of questionKeywords index as i">{{kw}}</span></p>
								</div>
								<div class="input-group mb-1">
	  							<div class="form-group">
									  <input class="form-control" [(ngModel)]="keyword" type="text" name="keyword" id="keywords" placeholder="keywords">
									</div>
								  <div class="input-group-append">
								    <button type="button" class="btn btn-primary" (click)="addKeyword(keyword);">Add Keyword</button>
								  </div>
								</div>
								<button type="submit" class="btn btn-primary" [disabled]="!questionForm.valid">Save Question</button>
							</form>
							<form #answerFrom="ngForm" (ngSubmit)="saveAnswer()">
								<div class="form-group">
							    <label for="answer"><strong>Answer</strong></label>
							    <input type="email" class="form-control" id="answer" aria-describedby="emailHelp" placeholder="Answer" required>
							    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
							  </div>
								<button type="submit" class="btn btn-success" [disabled]="!answerFrom.valid">Answer</button>
							</form>

							
							<button type="button" class="btn btn-info" (click)="addLeadingQuestion()">Add Leading Question</button>

							
						</div>
					</div>
			</div>
		</div>
	</div>
	<app-leading-question-form></app-leading-question-form>
</div>

