<app-admin-header></app-admin-header>
<div class="container-fluid">
<div class="admin">
	<app-saved-leading-question></app-saved-leading-question>
	<div class="row line-separator">
		<div class="col-md-5">
			<p><strong>Conversation</strong></p>
			<app-chatbox class="chat-box lifted-container">
				<app-message *ngFor="let m of messages" [message]="m" (click)="getUserQuestion(m.message)">
					<p>{{m.message}}</p>
				</app-message>
			</app-chatbox>
			<div class="chat-training-data">
				<div class="row">
					<div class="col-md-12">
						<p><strong>Training data</strong></p>
						<form class="question-form lifted-container" #questionForm="ngForm" (ngSubmit)="saveQuestion(userQuestion,questionSubject,questionKeywords)">
							<div class="form-group">
								<label for="topic"><strong>User question</strong></label>
								<input #questionInput class="form-control" [(ngModel)]="userQuestion" type="text" name="userQuestion" id="userQuestions" required>
							</div>
							<div class="form-group">
								<label for="subject"><strong>Subject</strong></label>
								<input #subjectInput class="form-control" [(ngModel)]="questionSubject" type="text" name="questionSubject" id="questionSubject" required>
							</div>
							<div class="keywordsarea">
								<p><strong class="mr0_5rem">Keywords:</strong> <span (click)="removeKeyword(i)" *ngFor="let kw of questionKeywords index as i">{{kw.keyword}}</span></p>
							</div>
							<div class="input-group mb-1">
								<div class="form-group">
									<input class="form-control" [(ngModel)]="keyword" type="text" name="keyword" id="keywords" placeholder="keywords">
								</div>
								<div class="input-group-append">
									<button type="button" class="btn btn-primary" (click)="addKeyword(keyword);">Add Keyword</button>
								</div>
							</div>
							<button
							type="submit"
							class="btn btn-primary"
							[disabled]="!questionForm.valid">Save Question</button>
						</form>
						<form class="answer-form lifted-container" #answerFrom="ngForm" (ngSubmit)="saveAnswer(questionAnswer)">
							<div class="form-group">
								<label><strong>Question:</strong></label>
								<p *ngIf="relatedQuestion.question">{{relatedQuestion.question}}</p>
								<label><strong>Keywords:</strong></label>
								<p><span *ngFor="let k of conclusionKeywordReference">{{k.keyword}},</span>
								</p>
								<label for="answer"><strong>Answer:</strong></label>
								<input type="email" class="form-control" [(ngModel)]="questionAnswer" name="answer" placeholder="Answer" required>
							</div>
							<button type="submit" class="btn btn-success" [disabled]="!answerFrom.valid">Set Answer</button>
							<button type="button" class="btn btn-info" (click)="showLeadingQuestion()">Answer leading questions</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="related-questions">
				<p><strong>Related Questions</strong></p>
				<ul class="related-questions-list lifted-container">
					<li *ngFor="let q of relatedQuestions; let i = index">
					<p (click)="getRelatedQuestionData(q)">{{q.question}}</p>
					<button
					class="poa top-right-corner"
					tooltip="Edit"
					placement="left"
					type="button"
					(click)="editQuestion(q)">
						<fa-icon icon="edit"></fa-icon>
					</button>
					<button
					class="poa bottom-right-corner"
					tooltip="Delete"
					placement="left"
					type="button"
					(click)="deleteQuestion(q,i)">
						<fa-icon icon="trash"></fa-icon>
					</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-2">
			<div class="related-subjects">
				<p><strong>Related Subject</strong></p>
				<ul class="related-subjects-list lifted-container">
					<li
					*ngFor="let s of relatedSubjects"
					(click)="getRelatedQuestionFromSubject(s);">
					<p>{{s.subject}}</p>
				</li>
				</ul>
			</div>
		</div>
		<div class="col-md-3">
			<div class="leading-question-list-container">
				<p><strong>Leading Questions</strong></p>
				<button class="paste button-icon-style" tooltip="Paste copied leading question" placement="auto" (click)="pasteLeadingQuestionAndChoices()">
					<fa-icon icon="paste"></fa-icon>
				</button>
				<ul class="leading-questions-list lifted-container">
					<li
					*ngFor="let l of leadingQuestions">
						<p (click)="getLeadingQuestionData(l)">{{l.leading_question}}</p>
						<button
						class="poa top-right-corner"
						tooltip="Edit"
						placement="left"
						type="button"
						(click)="editLeadingQuestion(q)">
							<fa-icon icon="edit"></fa-icon>
						</button>
						<button
						class="poa bottom-right-corner"
						tooltip="Delete"
						placement="left"
						type="button"
						(click)="deleteLeadingQuestion(q,i)">
							<fa-icon icon="trash"></fa-icon>
						</button>
					</li>
				</ul>
			</div>
			<div class="add-leading-question-form">
				<label><strong>Add leading question</strong></label>
				<form class="lifted-container" [formGroup]="leadingQuestionForm" (ngSubmit)="addLeadingQuestion(leadingQuestionForm)">
					<div class="form-group">
						<label><strong>Degree of importance</strong></label>
						<input type="number" [value]=5 class="form-control" formControlName="degreeOfImportance" name="degreeOfImportance" placeholder="Degree of importance">
					</div>
					<div class="form-group">
						<label><strong>Leading question</strong></label>
						<input type="text" class="form-control" formControlName="leadingQuestion" name="leadingQuestion" placeholder="Leading question">
					</div>
					<button type="submit" class="btn btn-info" [disabled]="!leadingQuestionForm.valid">Add Leading Question</button>
				</form>
			</div>
		</div>
	</div>
	<!-- <app-leading-question-form></app-leading-question-form> -->
</div>
</div>
