/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import './assets/scss/variables.scss';
@import './assets/scss/functions.scss';
@import '~ngx-toastr/toastr.css';

body{
	background-color: #f1f1f1;
}
ol, ul {
	list-style: none;
	padding-left: 0;
}
.line-separator{
	padding-bottom: 2rem;
	border-bottom: 1px solid #d43c3c;
	margin-bottom: 2rem;
}

.mr0_5rem{
	margin-right: 0.5rem;
}
.mb1rem{
	margin-bottom: 1rem!important;
}
.mb0{
	margin-bottom: 0!important;
}
.button-icon-style{
	background-color: transparent;
	border: 0;
	&:hover{
		cursor: pointer;
	}
}
.label-with-actions-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	.actions{
		display: inline;
	}
}
button.poa{
	border: 0;
	background: none;
	position: absolute;
	cursor: pointer;
	&.top-right-corner{
		top: 0;
		right: 0;
	}
	&.bottom-right-corner{
		bottom: 0;
		right: 0;
	}
}