<app-header></app-header>
<div class="col-md-6">
	<div class="chatbot">
		<label><strong>Chatbot Conversation</strong></label>
		<app-chatbox class="chatbox">
			<app-message
			*ngFor="let m of messages"
			[message]="m">
				<p>{{m.message}}</p>
				<ul 
				class="choices" *ngIf="m.choices?.length">
					<li *ngFor="let c of m.choices;" (click)="selectInChoice(c)">{{l}} {{c.choice}}</li>
					<li (click)="skip()">(Skip question)</li>
				</ul>
			</app-message>
			<div class="chatbot-loader" [class.hide]="!loadingResponce">
				<p><img src="assets/gifs/loaderwhite.gif" alt=""></p>
			</div>
		</app-chatbox>
		
		<div class="input-group mb-3">
		  <input 
		  (keyup.enter)="talkToChatbot(testing.value);testing.value=''" 
		  type="text" 
		  class="form-control" 
		  [(ngModel)]="userQuery"
		  #testing
		  placeholder="message" 
		  aria-label="message" 
		  aria-describedby="basic-addon2">
		  <div 
		  class="input-group-append" 
		  (click)="talkToChatbot(testing.value);testing.value=''">
		    <span class="input-group-text" id="basic-addon2">send</span>
		  </div>
		</div>
	</div>
</div>